* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #f5f7fa;
  color: #0f172a;
  line-height: 1.6;
}

/*header */
.header {
  position: fixed;
  width: 100%;
  background: #ffffffd8;
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  z-index: 999;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  font-size: 20px;
  font-weight: 700;
  color: #0e0e6c;
}

.menu {
  display: flex;
  gap: 25px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #0f172a;
  font-weight: 600;
  transition: 0.3s;
}

.menu a:hover {
  color: #2563eb;
}

.button {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    top: 70px;
    right: 20px;
    flex-direction: column;
    width: 180px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  }

  .menu.active {
    display: flex;
  }

  .button {
    display: block;
  }
}

/*hero*/
.hero {
  height: 100vh;
  background: linear-gradient(110deg, #0f172a, #1e293b);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero .container {
  max-width: 600px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 700;
}

.hero p {
  margin: 20px 0;
  font-size: 18px;
  opacity: 0.9;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
}

.btn:hover {
  background: #1d4ed8;
}

.sectiontitle {
  text-align: center;
  margin-top: 70px;
  font-size: 32px;
  font-weight: 700;
}

.sectionsub {
  text-align: center;
  font-size: 17px;
  color: #64748b;
  margin-bottom: 40px;
}

/* features */
.features-grid {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.feature-card {
  background: white;
  padding: 22px;
  border-radius: 12px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.feature-card:hover {
  transform: translateY(-6px);
}

@media (max-width: 900px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 580px) {
  .features-grid {
    grid-template-columns: 1fr;
  }
}

/*about*/
.about {
  padding: 80px 0;
}

.about-wrapper {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-text {
  color: #475569;
  line-height: 1.7;
}

.point h3 {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 600;
}

.point p {
  color: #475569;
}

/* box */
.stat-content {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  margin-bottom: 20px;
}

.stat-content:hover {
  transform: translateY(-6px);
}

.stat-content h2 {
  color: #2563eb;
  font-size: 36px;
  font-weight: 700;
}

.stat-content p {
  color: #475569;
}

@media (max-width: 900px) {
  .about-wrapper {
    grid-template-columns: 1fr;
  }
}

/*contact*/
.contact {
  padding-bottom: 70px;
}

.contact-grid {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.contact-info p {
  margin-bottom: 12px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 14px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 15px;
}

.contact-form textarea {
  height: 130px;
  resize: none;
}

.form-btn {
  cursor: pointer;
  border: none;
}

@media (max-width: 768px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}
